.store-cta-wrapper {
  padding: 0;
}

.store-cta-container.section {
  margin: 0;
  padding: 0;
}

.store-cta-container.section > div {
  max-width: unset;
  padding: 0;
}

.store-cta {
  background-color: var(--brand-red, rgb(195, 0, 45));
  color: #fff;
}

.store-cta > div {
  display: flex;
  flex-direction: column-reverse;
  max-width: unset;
  margin: 0;
  padding: 0;
}

.store-cta .store-cta-image {
  flex: 0 1 50%;
  overflow: hidden;
  line-height: 0;
}

.store-cta .store-cta-image picture {
  display: block;
  height: 100%;
}

.store-cta .store-cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.store-cta .store-cta-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 24px;
}

.store-cta .store-cta-content h2 {
  color: #fff;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: var(--heading-font-size-xl);
  margin-top: 0;
}

.store-cta .store-cta-content p {
  color: #fff;
  font-size: var(--body-font-size-m);
  line-height: 1.5;
}

.store-cta .store-cta-content a:any-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
}

.store-cta .store-cta-content a:any-link::before {
  content: '>';
  display: inline-block;
  margin-right: 8px;
}

.store-cta .store-cta-content a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  .store-cta > div {
    flex-direction: row;
  }

  .store-cta .store-cta-content {
    padding: 80px 60px 80px 120px;
  }

  .store-cta .store-cta-image {
    order: 1;
  }
}
